button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.top-30 {
  margin-top: 30px;
}

/*userSubmit*/
    #title {
        color: white;
    }

    #trainerFirstName {
        color: white;
    }

    #trainerLastName {
        color: white;
    }

    #trainerCertification {
        color: white;
    }

    #trainerNumber {
        color: white;
    }





